

.content {
    color: var(--white);
    display: flex;
    padding: 24px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    border-radius: 4px;
    border-top: 1px solid var(--gray-300, #333);
    margin-left: 20rem;
    margin-right: 20rem;

}

.content p {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    color: var(--gray-300, #808080);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
}


.clipboardImg {
    width: 56px;
    height: 56px;
    opacity: 0.2;
}



