:root {
    --white: #fff;
    --danger: #E25858;

    --gray-700: #0D0D0D;
    --gray-600: #1A1A1A;
    --gray-500: #262626;
    --gray-400: #333333;
    --gray-300: #808080;
    --gray-200: #D9D9D9;
    --gray-100: #F2F2F2;
    
    --purple-100: #8284FA;
    --purple-200: #5E60CE;

    --blue-100: #4EA8DE;
    --blue-dark: #1E6F9F;
  
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--gray-600);
  }
  
  
  body, input, textarea, button {
    font-family: "Inter", sans-serif;
  }